{% extends 'base.html' %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="text-center">
            <h1 class="display-4">Password Reset Email Sent</h1>
            <p class="lead">We've just sent you an email with detailed instructions on how to reset your password. Please check your inbox.</p>
            <a class="btn btn-primary mt-3" href="{% url 'webapp:home' %}">Return to Homepage</a>
        </div>
    </div>
{% endblock %}
