{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Password Reset Confirmation</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_new_password1">New Password:</label>
            <input type="password" id="id_new_password" name="new_password" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="id_new_password2">Confirm New Password:</label>
            <input type="password" id="id_new_password2" name="new_password2" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Confirm Password Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
