<div class="widget">
    <h4 class="widget-title">Recent Comment</h4>
    <ul class="sidebar__comment">
        <li class="sidebar__comment__item">
            <a href="blog-details.html">Rasalina Sponde</a>
            <p>There are many variations of passages of lorem ipsum available, but the majority have</p>
        </li>
        <li class="sidebar__comment__item">
            <a href="blog-details.html">Rasalina Sponde</a>
            <p>There are many variations of passages of lorem ipsum available, but the majority have</p>
        </li>
        <li class="sidebar__comment__item">
            <a href="blog-details.html">Rasalina Sponde</a>
            <p>There are many variations of passages of lorem ipsum available, but the majority have</p>
        </li>
        <li class="sidebar__comment__item">
            <a href="blog-details.html">Rasalina Sponde</a>
            <p>There are many variations of passages of lorem ipsum available, but the majority have</p>
        </li>
    </ul>
</div>