{% extends 'base.html' %} 
{% load static %}
{% load blog_tags %}
{% block content %} 
        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb__wrap">
                <div class="container custom-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10">
                            <div class="breadcrumb__wrap__content">
                                <h2 class="title">{{post.title}}</h2>   
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'website:home' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb__wrap__icon">
                    <ul>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon01.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon02.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon03.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon04.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon05.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon06.png' %}" alt=""></li>
                    </ul>
                </div>
            </section>
            <!-- breadcrumb-area-end -->


            <!-- blog-details-area -->
            <section class="standard__blog blog__details">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="standard__blog__post">
                                <div class="standard__blog__thumb">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                </div>
                                <div class="blog__details__content services__details__content">
                                    <ul class="blog__post__meta">
                                        <li><i class="fal fa-calendar-alt"></i>{{post.published_date|date:"D M Y"}}</li>
                                        <li><i class="fal fa-comments-alt"></i> <a href="#">Comment ({% comment_count post.id%})</a></li>
                                        <li class="post-share"><a href="#"><i class="fal fa-share-all"></i> (18)</a></li>
                                    </ul>
                                    <h2 class="title">{{post.title}}</h2>
                                    <p>{{post.content|safe}}</p>
                                </div>
                                <div class="blog__details__bottom">
                                    <ul class="blog__details__tag">
                                        <li class="title">Tag:</li>
                                        {% for tag in post.tags.all %}
                                        <li class="tags-list">
                                            <a href="{% url 'blog:tag' tag_name=tag.name %}">{{ tag.name }}</a>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    <ul class="blog__details__social">
                                        <li class="title">Share :</li>
                                        <li class="social-icons">
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                                            <a href="#"><i class="fab fa-linkedin"></i></a>
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blog__next__prev">
                                    <div class="row justify-content-between">
                                        <div class="col-xl-5 col-md-6">
                                            <div class="blog__next__prev__item">
                                                <h4 class="title">{% if previous_post %}<a href="{% url 'blog:single' previous_post.pk %}">Previous Post</a>{% else %}No previous post{% endif %}</h4>
                                                {% if previous_post %}
                                                <div class="blog__next__prev__post">
                                                    <div class="blog__next__prev__thumb">
                                                        <a href="{% url 'blog:single' previous_post.pk %}">
                                                            <img class="img-fluid" src="{{ previous_post.image.url }}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="blog__next__prev__content">
                                                        <h5 class="title">
                                                            <a href="{% url 'blog:single' previous_post.pk %}">{{ previous_post.title }}</a>
                                                        </h5>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xl-5 col-md-6">
                                            <div class="blog__next__prev__item next_post text-end">
                                                <h4 class="title">{% if next_post %}<a href="{% url 'blog:single' next_post.pk %}">Next Post</a>{% else %}No next post{% endif %}</h4>
                                                {% if next_post %}
                                                <div class="blog__next__prev__post">
                                                    <div class="blog__next__prev__thumb">
                                                        <a href="{% url 'blog:single' next_post.pk %}">
                                                            <img class="img-fluid" src="{{ next_post.image.url }}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="blog__next__prev__content">
                                                        <h5 class="title">
                                                            <a href="{% url 'blog:single' next_post.pk %}">{{ next_post.title }}</a>
                                                        </h5>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- comment -->
                                {% include 'blog/blog-comments.html' %}
                                <!-- end comment -->
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <aside class="blog__sidebar">
                                {% include 'blog/blog-search.html' %}
                                {% popularposts %}
                                {% postcategories %}
                                {% include 'blog/blog-recent-comment.html' %}
                                {% posttags %}
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-details-area-end -->


            <!-- contact-area -->
            {% include 'website/index-contact.html' %}
            <!-- contact-area-end -->

        </main>
        <!-- main-area-end -->
        {% endblock content %}


