{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %} 
        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb__wrap">
                <div class="container custom-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10">
                            <div class="breadcrumb__wrap__content">
                                <h2 class="title">Recent Article</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'website:home' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb__wrap__icon">
                    <ul>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon01.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon02.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon03.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon04.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon05.png' %}" alt=""></li>
                        <li><img src="{% static 'assets/img/icons/breadcrumb_icon06.png' %}" alt=""></li>
                    </ul>
                </div>
            </section>
            <!-- breadcrumb-area-end -->


            <!-- blog-area -->
            <section class="standard__blog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- _____________________________________________________________ -->
                            {% for post in posts %}
                            <div class="standard__blog__post">
                                <div class="standard__blog__thumb">
                                    <a href="{% url 'blog:single' pid=post.id %}"><img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
                                    <a href="{% url 'blog:single' pid=post.id %}" class="blog__link"><i class="far fa-long-arrow-right"></i></a>
                                </div>
                                <div class="standard__blog__content">
                                    <div class="blog__post__avatar">
                                        <div class="thumb"><img src="{% static 'assets/img/blog/blog_avatar.png' %}" alt=""></div>
                                        <span class="post__by">By : <a href="#">{{post.author}}</a></span>
                                    </div>
                                    <h2 class="title"><a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a></h2>
                                    <p>{{ post.content|truncatewords_html:45|safe }}</p>
                                    <ul class="blog__post__meta">
                                        <li><i class="fal fa-calendar-alt"></i>{{post.published_date|date:"D M Y"}}</li>
                                        <li><i class="fal fa-comments-alt"></i> Comment ({% comment_count post.id%})</li>
                                        <li><i class=""></i> Views (<b>{{post.counted_views}}</b>)</li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- _____________________________________________________________ -->
                            <div class="pagination-wrap">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            {% if posts.has_previous %}
                                                <a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous">
                                                    <i class="far fa-long-arrow-left"></i>
                                                </a>
                                            {% else %}
                                                <span class="page-link" aria-hidden="true">
                                                    <i class="far fa-long-arrow-left"></i>
                                                </span>
                                            {% endif %}
                                        </li>
                                        {% for page in posts.paginator.page_range %}
                                            <li class="page-item{% if page == posts.number %} active{% endif %}">
                                                <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                                            </li>
                                        {% endfor %}
                                        <li class="page-item">
                                            {% if posts.has_next %}
                                                <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            {% else %}
                                                <span class="page-link" aria-hidden="true">
                                                    <i class="far fa-long-arrow-right"></i>
                                                </span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </nav>
                            </div>  
                            <br> <br> <br><br><br><br>

                            
                        </div>
                        <div class="col-lg-4">
                            <aside class="blog__sidebar">
                            {% include 'blog/blog-search.html' %}
                            {% popularposts %}
                            {% postcategories %}
                            {% include 'blog/blog-recent-comment.html' %}
                            {% posttags %}
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->


            <!-- contact-area -->
            {% include 'website/index-contact.html' %}
            <!-- contact-area-end -->

        </main>
        <!-- main-area-end -->
        {% endblock content %}

